nome = input('Qual o seu nome? ')
print('Olá, ' ,nome , 'prazer em te conhecer')

# data formatada
dia = input ('Qual o dia do seu nascimento? ')
mes = input ('Qual o mes do seu nascimento? ')
ano = input ('Qual o ano do seu nascimento? ')
print('Voçe nasceu no dia ', dia,'de ', mes,'de ', ano)

# soma de dois numeros
n1 = int(input('Digite o primeiro numero? '))
n2 = int(input('Digite o segundo numero? '))
print('A soma é: ',n1+n2)

# dobro, triplo e raiz quadrada
n = int(input('Digite um numero: '))
d = n * 2
t = n * 3
r = n **(1/2)
print('analizando o numero ', n,'o seu dobro é {}, o seu triplo é {} e sua Raiz quadrada é {}'.format(d,t,r))

# media aritmetica
n1 = float(input('Digite a primeira nota: '))
n2 = float(input('Digite a segunda nota: '))
print('a media entre {:.1f} e {:.1f} é igual a:{:.1f} '.format(n1, n2, (n1+n2) / 2))

# antecessor e sucessor
n = int(input('Digite um número: '))
a = n -1
s = n + 1
print('Analisando o valor {}, seu antecessor é {} e o sucessor é {}'.format(n, a, s))

# conversor de medidas:
medida = float(input("Informe uma distancia em metros: "))
decimetros = medida * 10
centimetros = medida * 100
milimetros = medida * 1000
decametro = medida / 10
hectometro = medida / 100
kilometro = medida / 1000
print('A distancia de: ', medida,'metros tem:')
print('decimetros: ',decimetros)
print('centimetros: ', centimetros)
print('milimetros: ', milimetros)
print('decametros: ', decametro)
print('hectometros: ', hectometro)
print('kilometros: ', kilometro)

# Tabuada
num = int(input('Digite um numero para ver sua tabuada: '))
print('-' * 12)
print('{} x {:2} = {}'.format(num, 1, num*1))
print('{} x {:2} = {}'.format(num, 2, num*2))
print('{} x {:2} = {}'.format(num, 3, num*3))
print('{} x {:2} = {}'.format(num, 4, num*4))
print('{} x {:2} = {}'.format(num, 5, num*5))
print('{} x {:2} = {}'.format(num, 6, num*6))
print('{} x {:2} = {}'.format(num, 7, num*7))
print('{} x {:2} = {}'.format(num, 8, num*8))
print('{} x {:2} = {}'.format(num, 9, num*9))
print('{} x {} = {}'.format(num, 10, num*10))
print('-' * 12)

#conversor de moedas
real = float(input('Quanto dinheiro voce tem na carteira?R$: '))
dolar = float(input('insira o cambio do dollar no dia atual US$: '))
dolar = real / dolar
print('=' * 60)
print('Com R$: {:.2f} você consegue comprar: {:.2f} US$'.format(real, dolar))
print('=' * 60)

#pintando uma parede
largura = float(input('Qual a largura da sua parede: '))
altura = float(input('Qual a altura da sua parede: '))
area = largura * altura
print(' Sua parede tem uma dimensão de {} x {}, sua área é de: {}m². '.format(largura, altura, area))
tinta = area / 2
print('Para pintar sua parede serão necessarios: {:.3f} Litros de tinta'.format(tinta))

#Reajuste de salario
print('=' * 100)
salario = float(input('Qual o salário do Funcionário: R$ '))
print('=' * 100)
reajuste = float(input('Qual o valor do reajuste em %: '))
novo = salario  + (salario * reajuste / 100)
print('=' * 100)
print('O salario do funcionario de R${}, teve um reajuste de %{} ficando com um salario atual de R${}'.format(salario, reajuste, novo)

#Calculando desconto
print('=' * 100)
valor = float(input('Digite o preço do produto:R$ '))
print('=' * 100)
desconto = float(input('Digite o valor do desconto:% '))
print('=' * 100)
preco = valor - (valor * desconto / 100)
print('O seu produto no valor de R$ {} . Teve um desconto de: {}%. Ficando com um preço final de: R${} '.format(valor, desconto, preco))
print('=' * 100)
